Card{
  max-width: 20%;
  max-height: 20%;
}

.container{
  display: grid;
  place-content: center;
}

.body{
  height: 200px;
  width: 200px;
  display: grid;
  place-content: center;
  font-size: large;
}